*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(125deg, #000000, #87acd1);
  }
  .container {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 30vw;
    border-radius: 20px;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5),
      -0.5rem -0.5rem 1rem rgba(0, 0, 0, 0.5);
  }