* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  html {
    font-size: 62.5%;
  }
  body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(125deg, #000000, #878cd1);
  }
  .container {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50rem;
    width: 50rem;
    border-radius: 5%;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5),
      -0.5rem -0.5rem 1rem rgba(0, 0, 0, 0.5);
  }
  .container img {
    width: 13rem;
  }
  .container h1 {
    font-size: 5rem;
    color: #fff;
    padding: 2rem 0;
  }
  .container button {
    width: 30rem;
    padding: 2rem 0;
    font-size: 2.5rem;
    font-weight: 700;
    background-color: #e7d900;
    border: none;
    outline: none;
    border-radius: 2rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .container button:active {
    transform: scale(0.95);
  }
  .show {
    padding-top: 8rem;
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
  }
  /* media  */
@media only screen and (max-width: 321px) {
    html {
      font-size: 37%;
    }
  }
  @media only screen and (min-width: 322px) and (max-width: 376px) {
    html {
      font-size: 44%;
    }
  }
  @media only screen and (min-width: 400px) and (max-width: 426px) {
    html {
      font-size: 50%;
    }
  }